
.show-container {
  display: flex;
  position: relative;
}

.booking-card {
  position: sticky;
  top: 200px;

}



.form-row .booking-row {
  color: $deep-brown;
}

.book-card-title {
  font-size: 22px;
  font-family: 'Pacifico', cursive;
  color: $deep-brown;
}
.map-show {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
