<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita nulla nisi officia obcaecati eligendi libero a sequi corporis sint enim adipisci, eveniet, id ad repudiandae officiis doloribus aspernatur incidunt, mollitia!
