<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<div>
  <%# if policy(friend).show? %>
    <%#= link_to 'Show', friend %>
  <%# end %>

  <%# if policy(friend).update? %>
    <%#= link_to 'Edit', edit_friend_path(friend) %>
  <%# end %>

  <%# if policy(friend).destroy? %>
    <%#= link_to 'Destroy', friend, method: :delete, data: { confirm: 'Are you sure?' } %>
  <%# end %>

  <%# if policy(Friend).create? %>
    <%#= link_to 'New friend', new_friend_path %>
  <%# end %>
</div> -->
