.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  position: sticky;
  h3 {
    font-family: 'Pacifico', cursive;
    color: #F4F4F4;
    opacity: 0.8;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
