.navbar-friendy {
  justify-content: space-between;
  transition: 0.5s background-color ease;
  position: fixed;
  width: 100%;
  h3 {
    font-family: 'Pacifico', cursive;
    color: #F4F4F4;
    opacity: 0.8;
  }
}

.navbar-friendy-transparent {
  background-color: white;
}

.navbar-friendy .navbar-collapse {
  flex-grow: 0;
}

.navbar-friendy .navbar-brand img {
  width: 40px;
}

.navbar-friendy h3 {
  font-family: 'Pacifico', cursive;
  color: black;
  opacity: 0.8;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
  opacity: 0.8;
}
